# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Bewegtes Bild: Emotionalisierungen"
author: Derya Demir & Matthias Grotkopp
logo: logo.jpg
exclude_patterns: [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints", conda, venv, README.md, LICENSE.md, "**-Reviewbogen.md", "Reviewbogen.md", "Checkliste_Finalisierung.md"]

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/quadriga-dk/Bewegtes-Bild-Fallstudie-1
  #path_to_book: book  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

launch_buttons:
  notebook_interface: jupyterlab
  thebe: true
  binderhub_url: https://mybinder.org
  colab_url: https://colab.research.google.com

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  extra_footer: |
    <p xmlns:cc="http://creativecommons.org/ns#" >Dieses Werk ist lizensiert unter der Lizenz <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a>. Detailliertere Informationen finden Sie unter <a href="https://github.com/quadriga-dk/Bewegtes-Bild-Fallstudie-1/blob/main/LICENSE.md">LICENSE.md</a></p>
    <p>Diese OER wurde im Rahmen des Projekts <a href="https://www.quadriga-dk.de">QUADRIGA</a> erstellt. Das Projekt wurde gefördert durch das <a href="https://www.bmbf.de">Bundesministerium für Bildung und Forschung</a>. Mehr Informationen zum Projekt finden Sie auch im <a href="https://quadriga-dk.github.io/Bewegtes-Bild-Fallstudie-1/Epilog/QUADRIGA.html">Epilog</a>.</p>
use_multitoc_numbering: false

# Add carousel to your book
sphinx:
  config:
    html_show_copyright: false
    html_static_path: ['_static']
    html_css_files:
      - quadriga.css
      - carousel.css
    html_js_files:
      - carousel.js

# Ignore duplicate citation      
    suppress_warnings: ["bibtex.duplicate_citation"]
